body {
  background: #d4d4d4;
  color: rgb(22, 22, 22);
  text-align: center;
  margin-top: 100px;
}
button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
}
#secretBtn {
  position: absolute;
  width: 200px;
  height: 100px;
  padding: 0px 0px;
  font-size: 20px;
  margin: 0px;

  opacity: 0;

  cursor: pointer;
}
