body {
  background: #a8bac2;
  color: rgb(00, 00, 00);
  text-align: center;
  margin-top: 100px;
}
#Btn1 {
  position: absolute;

  left: 100px;
  top: 100px;

  width: 200px;
  height: 100px;

  /*opacity: 0;
  border: none;
  cursor: pointer;*/
}

#Btn2 {
  position: absolute;

  left: 400px;
  top: 100px;

  width: 200px;
  height: 100px;

  /*opacity: 0;
  border: none;
  cursor: pointer;*/
}

#Btn3 {
  position: absolute;

  left: 600px;
  top: 100px;

  width: 200px;
  height: 100px;

  /*opacity: 0;
  border: none;
  cursor: pointer;*/
}
#returnBtn1 {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
}
#returnBtn2 {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
}
