body {
  background: #a8bac2;
  color: rgb(00, 00, 00);
  text-align: center;
  margin-top: 100px;
}
#btn1 {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
}
#btn2 {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
}
#btn3 {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
}
#returnBtn1 {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
}
#returnBtn2 {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
}
